@font-face {
  font-family: "myWebFont";
  src: url("/day3/pre-class/match/digital-7.mono.ttf");
}

body {
  background-color: pink;
  text-align: center;
}
.square {
  padding: 10px;
  margin: 10px;
  background-color: white;
  display: inline-block;
  height: 10px;
  width: 10px;
  vertical-align: top;
}

.card-down {
  padding: 10px;
  margin: 10px;
  background-color: lightblue;
  display: inline-block;
  height: 25px;
  width: 15px;
  vertical-align: top;
  border: solid 2px white;
  border-radius: 2px;
  box-shadow: 5px 5px 5px grey;
}
.card-up {
  padding: 10px;
  margin: 10px;
  background-color: white;
  display: inline-block;
  height: 25px;
  width: 15px;
  vertical-align: top;
  border: solid 2px darkblue;
  border-radius: 2px;
  box-shadow: 5px 5px 5px grey;
}
.suit {
  margin: 5px;
  font-size: 20px;
}

.name {
  margin: 5px;
  font-size: 24px;
  font-weight: bold;
  font-family: sans-serif;
}

.red {
  color: red;
}
.black {
  color: black;
}

.match {
  border: solid 3px chartreuse;
}

.noMatch {
  border: solid 3px red;
}

.timer {
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-size: large;
  margin: 20px auto;
  width: 100px;
  background: navy;
  border: solid black 2px;
  border-radius: 3px;
}
